language: objective-c

env:
  - RVM_RUBY_VERSION="1.8.7"
  - RVM_RUBY_VERSION="1.9.3"

before_install: >
  curl -L https://get.rvm.io | bash -s stable --autolibs=enabled &&
  source ~/.rvm/scripts/rvm &&
  rvm reload &&
  brew cleanup &&
  brew tap --repair &&
  rvm install $RVM_RUBY_VERSION --autolibs=3 &&
  rvm use $RVM_RUBY_VERSION

script: >
  gem install rspec json pivotal-tracker &&
  LC_CTYPE="en_US.UTF-8" rake
